#animation {
	width: 100px;
	height: 300px;
	background-color: yellow;
	
/*	animation-name: changeWidth;
	animation-duration: 3s;
	animation-iteration-count: 6;
	animation-timing-function: ease;
	animation-direction: alternate;
	animation-delay: 1s;*/

	animation: changeWidth 3s infinite; ease alternate 1s;
}

@keyframes changeWidth {
	from { width: 100px; }
	30% { background-color: orange; }
	70% { background-color: orange; }
	to { width: 600px; background-color: red;}
}