#box_model {
	width: 300px;
	height: 300px;
	background-color: yellow;
	border: solid 20px red;
	margin: 40px 30px 20px 10px;
	/* 보더의 바깥쪽 */
	/* top right bottom left */
	padding: 50px 40px 30px 20px;
	/* 보더의 안쪽 */
}

html,body {
	margin: 0;
	padding: 0;
}