.background {
	width: 500px;
	height: 500px;
/*	background-color: yellow;
	background-image: url(img/rice.png);
	background-repeat: repeat;
	background-position: left;*/
	background: 40px 150px repeat-x purple url(img/rice.png);
	/* 순서는 상관없음 */
}

/* img 파일은 css 파일 경로와 같은곳에 */