/* intro */

#intro .introWrap .lion {
	animation: spinLion 1500ms linear infinite alternate;
	-webkit-animation: spinLion 1500ms linear infinite alternate;
	-moz-animation: spinLion 1500ms linear infinite alternate;

}

@keyframes spinLion {
    from { transform:rotate(-10deg); }
    to { transform:rotate(10deg); }
}

@-webkit-frames spinLion {
    from { transform:rotate(-10deg); }
    to { transform:rotate(10deg); }
}

@-moz-keyframes spinLion {
    from { transform:rotate(-10deg); }
    to { transform:rotate(10deg); }
}

#intro .introWrap .rabbit {
	animation: spinRabbit 1000ms linear infinite alternate;
	-webkit-animation: spinRabbit 1000ms linear infinite alternate;
	-moz-animation: spinRabbit 1000ms linear infinite alternate;
}

@keyframes spinRabbit {
    from { transform:rotate(0deg); }
    to { transform:rotate(5deg); }
}

@-webkit-frames spinRabbit {
    from { transform:rotate(0deg); }
    to { transform:rotate(5deg); }
}

@-moz-keyframes spinRabbit {
    from { transform:rotate(0deg); }
    to { transform:rotate(5deg); }
}

#intro .introWrap .bear {
	animation: spinBear 1000ms linear infinite alternate;
	-webkit-animation: spinBear 1000ms linear infinite alternate;
	-moz-animation: spinBear 1000ms linear infinite alternate;
}

@keyframes spinBear {
    from { transform:rotate(-10deg); }
    to { transform:rotate(10deg); }
}

@-webkit-frames spinBear {
    from { transform:rotate(-10deg); }
    to { transform:rotate(10deg); }
}

@-moz-keyframes spinBear {
    from { transform:rotate(-10deg); }
    to { transform:rotate(10deg); }
}

#intro .introWrap .monkey {
	animation: spinMonkey 800ms linear infinite alternate;
	-webkit-animation: spinMonkey 800ms linear infinite alternate;
	-moz-animation: spinMonkey 800ms linear infinite alternate;
}

@keyframes spinMonkey {
    from { transform:rotate(20deg); }
    to { transform:rotate(50deg); }
}

@-webkit-keyframes spinMonkey {
    from { transform:rotate(20deg); }
    to { transform:rotate(50deg); }
}

@-moz-keyframes spinMonkey {
    from { transform:rotate(20deg); }
    to { transform:rotate(50deg); }
}

#intro .cloudWrap .dragonfly {
	animation: flyDragonfly linear 7s infinite normal;
	-webkit-animation: flyDragonfly linear 7s infinite normal;
	-moz-animation: flyDragonfly linear 7s infinite normal;
}

@keyframes flyDragonfly {
	from { left: -366px; }
	to { left: 110%; }
}

@-webkit-frames flyDragonfly {
	from { left: -366px; }
	to { left: 110%; }
}

@-moz-keyframes flyDragonfly {
	from { left: -366px; }
	to { left: 110%; }
}

#farm3 .machineWrap .timer {
	animation: rotateTimer 10000ms linear infinite;
	-webkit-animation: rotateTimer 10000ms linear infinite;
	-moz-animation: rotateTimer 10000ms linear infinite;
}

@keyframes rotateTimer {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@-webkit-frames rotateTimer {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@-moz-keyframes rotateTimer {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

#farm3 .machineWrap .saw1 {
	animation: rotateLeftSaw 10000ms linear infinite;
	-webkit-animation: rotateLeftSaw 10000ms linear infinite;
	-moz-animation: rotateLeftSaw 10000ms linear infinite;
}

@keyframes rotateLeftSaw {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@-webkit-keyframes rotateLeftSaw {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@-moz-keyframes rotateLeftSaw {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

#farm3 .machineWrap .saw2 {
	animation: rotateRightSaw 10000ms linear infinite;
	-webkit-animation: rotateRightSaw 10000ms linear infinite;
	-moz-animation: rotateRightSaw 10000ms linear infinite;
}

@keyframes rotateRightSaw {
	from { transform: rotate(360deg); }
	to { transform: rotate(0deg); }
}

@-webkit-keyframes rotateRightSaw {
	from { transform: rotate(360deg); }
	to { transform: rotate(0deg); }
}

@-moz-keyframes rotateRightSaw {
	from { transform: rotate(360deg); }
	to { transform: rotate(0deg); }
}

#forest1 .treeWrap .rabbit1 {
	animation: spinRabbitOne 1000ms linear infinite alternate;
	-webkit-animation: spinRabbitOne 1000ms linear infinite alternate;
	-moz-animation: spinRabbitOne 1000ms linear infinite alternate;
}

@keyframes spinRabbitOne{
	from { transform: rotate(0deg); }
	to { transform: rotate(10deg); }
}

@-webkit-keyframes spinRabbitOne{
	from { transform: rotate(0deg); }
	to { transform: rotate(10deg); }
}

@-moz-keyframes spinRabbitOne{
	from { transform: rotate(0deg); }
	to { transform: rotate(10deg); }
}


#forest1 .treeWrap .rabbit2 {
	animation: spinRabbitTwo 1000ms linear infinite alternate;
	-webkit-animation: spinRabbitTwo 1000ms linear infinite alternate;
	-moz-animation: spinRabbitTwo 1000ms linear infinite alternate;
}

@keyframes spinRabbitTwo{
	from { transform: rotate(10deg); }
	to { transform: rotate(0deg); }
}

@-webkit-keyframes spinRabbitTwo{
	from { transform: rotate(10deg); }
	to { transform: rotate(0deg); }
}

@-moz-keyframes spinRabbitTwo{
	from { transform: rotate(10deg); }
	to { transform: rotate(0deg); }
}

#forest2 .machineWrap2 .machineLeft {
	animation: moveLeft 1s linear infinite alternate;
	-webkit-animation: moveLeft 1s linear infinite alternate;
	-moz-animation: moveLeft 1s linear infinite alternate;
}

@keyframes moveLeft {
	from { left: 30px; }
	to { left: 0px; }
}

@-webkit-keyframes moveLeft {
	from { left: 30px; }
	to { left: 0px; }
}

@-moz-keyframes moveLeft {
	from { left: 30px; }
	to { left: 0px; }
}

#forest2 .machineWrap2 .machineRight {
	animation: moveRight 1s linear infinite alternate;
	-webkit-animation: moveRight 1s infinite alternate linear;
	-moz-animation: moveRight 1s linear infinite alternate;
}

@keyframes moveRight {
	from { left: -30px; }
	to { left: 0px; }
}

@-webkit-keyframes moveRight {
	from { left: -30px; }
	to { left: 0px; }
}

@-moz-keyframes moveRight {
	from { left: -30px; }
	to { left: 0px; }
}

#forest3 .forest3Wrap .smallBird {
	animation: spinSmallBird 1000ms linear infinite alternate;
	-webkit-animation: spinSmallBird 1000ms linear infinite alternate;
	-moz-animation: spinSmallBird 1000ms linear infinite alternate;
}

@keyframes spinSmallBird {
	from { transform: rotate(0deg); }
	to { transform: rotate(10deg); }
}

@-webkit-keyframes spinSmallBird {
	from { transform: rotate(0deg); }
	to { transform: rotate(10deg); }
}

@-moz-keyframes spinSmallBird {
	from { transform: rotate(0deg); }
	to { transform: rotate(10deg); }
}

#forest3 .forest3Wrap .bigBird {
	animation: spinBigBird 1000ms linear infinite alternate;
	-webkit-animation: spinBigBird 1000ms linear infinite alternate;
	-moz-animation: spinBigBird 1000ms linear infinite alternate;
}

@keyframes spinBigBird {
	from { transform: rotate(-10deg); }
	to { transform: rotate(10deg); }
}

@-webkit-keyframes spinBigBird {
	from { transform: rotate(-10deg); }
	to { transform: rotate(10deg); }
}

@-moz-keyframes spinBigBird {
	from { transform: rotate(-10deg); }
	to { transform: rotate(10deg); }
}

#science .scienceWrap .gly {
	animation: spinGly 1500ms linear infinite alternate;
	-webkit-animation: spinGly 1500ms linear infinite alternate;
	-moz-animation: spinGly 1500ms linear infinite alternate;
}

@keyframes spinGly {
	from { transform: rotate(0deg); }
	to { transform: rotate(50deg); }
}

@-webkit-frames spinGly {
	from { transform: rotate(0deg); }
	to { transform: rotate(50deg); }
}

@-moz-keyframes spinGly {
	from { transform: rotate(0deg); }
	to { transform: rotate(50deg); }
}

#science .scienceWrap .water {
	animation: spinWater 1500ms linear infinite alternate;
	-webkit-animation: spinWater 1500ms linear infinite alternate;
	-moz-animation: spinWater 1500ms linear infinite alternate;
}

@keyframes spinWater {
	from { transform: rotate(0deg); }
	to { transform: rotate(-50deg); }
}

@-webkit-frames spinWater {
	from { transform: rotate(0deg); }
	to { transform: rotate(-50deg); }
}

@-moz-keyframes spinWater {
	from { transform: rotate(0deg); }
	to { transform: rotate(-50deg); }
}

#night1 .starWrap .star1,
#night1 .starWrap .star2,
#night1 .starWrap .star3 {
	animation: pulseStar 1s linear infinite alternate;
	-webkit-animation: pulseStar 1s linear infinite alternate;
	-moz-animation: pulseStar 1s linear infinite alternate;
}

@keyframes pulseStar {
	from { transform: scale(1.0); }
	to { transform: scale(0.8); }
}

@-webkit-keyframes pulseStar {
	from { transform: scale(1.0); }
	to { transform: scale(0.8); }
}

@-moz-keyframes pulseStar {
	from { transform: scale(1.0); }
	to { transform: scale(0.8); }
}

#night2 .moon {
	animation: moveMoon linear 10s infinite;
	-webkit-animation: moveMoon linear 10s infinite;
	-moz-animation: moveMoon linear 10s infinite;
}

@keyframes moveMoon {
	from { margin-left: -135px; }
	to { margin-left: 110%; }
}

@-webkit-keyframes moveMoon {
	from { margin-left: -135px; }
	to { margin-left: 110%; }
}

@-moz-keyframes moveMoon {
	from { margin-left: -135px; }
	to { margin-left: 110%; }
}

#morning .sun {
	animation: moveSun linear 10s 1500ms infinite;
	-webkit-animation: moveSun linear 10s 1500ms infinite;
	-moz-animation: moveSun linear 10s 1500ms infinite;
}

@keyframes moveSun {
	from { left: -135px; }
	to { left: 110%; }
}

@-webkit-keyframes moveSun {
	from { left: -135px; }
	to { left: 110%; }
}

@-moz-keyframes moveSun {
	from { left: -135px; }
	to { left: 110%; }
}

#kitchen .steamWrap .bubble1 {
  animation-name: bubble1;
  animation-duration: 2000ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}
@keyframes bubble1 {
  0% {transform:translate(0px, 0px);}
  50% {transform:translate(-87.5px, -150px);}
  100% {transform:translate(-100px, -300px);}
}


